<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    welcome flask!!!
    {% if name %}
  <h1>Hello {{ name }}!</h1>
    {% else %}
  <h1>Hello World!</h1>
    {% endif %}

    <form action="/login" method="post" enctype="multipart/form-data">
        <input name="username" value=""/>
        <input name="password" value=""/>
        <input type="file" name="the_file" value=""/>

        <input type="submit" value="提交"/>
    </form>
</body>
</html>